@import 'tailwindcss';
@plugin "@tailwindcss/typography";

@import './theme.css';
@import './code.css';
@custom-variant dark (&:is(.dark *));

@view-transition {
  navigation: auto;
}

body {
  @apply bg-background text-foreground/90 mx-auto max-w-5xl px-[5vw];
  font-family: 'Inter', 'Open Sans', Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.prose,
prose-invert {
  max-width: 100%;
}

.prose img {
  @apply border-muted my-0 border;
}
