---
import RootLayout from '../layouts/RootLayout.astro'
import Hero from '../components/Hero.astro'
import LogoWall from '../components/LogoWall.astro'
---

<RootLayout>
  <main class="container mx-auto max-w-4xl">
    <Hero />
    <LogoWall />
  </main>
</RootLayout>
